body{
  margin:0;
  font-family:'Segoe UI', sans-serif;
  color:#ffffff;
  background:
    linear-gradient(rgba(2,6,23,0.9),rgba(2,6,23,0.9)),
    url("https://images.unsplash.com/photo-1446776811953-b23d57bd21aa");
  background-size:cover;
  background-attachment:fixed;
}

.top{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:15px 40px;
  background:#000814;
  border-bottom:1px solid #0b1d3a;
}

.logo{
  font-size:20px;
  letter-spacing:2px;
  font-weight:bold;
}

nav a{
  color:#cfd9ff;
  margin-left:20px;
  text-decoration:none;
  font-size:14px;
}

.hero{
  text-align:center;
  padding:100px 20px;
  background:radial-gradient(circle at top,#0b1d3a,#020617);
}

.hero h1{
  font-size:40px;
  margin-bottom:15px;
}

.hero p{
  color:#9bb0ff;
}

.btn{
  display:inline-block;
  margin-top:25px;
  padding:12px 30px;
  border:1px solid #5b7cff;
  color:#fff;
  text-decoration:none;
}

.grid{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
  gap:20px;
  padding:40px;
}

.card{
  background:#000814;
  padding:30px;
  border:1px solid #0b1d3a;
}

footer{
  text-align:center;
  padding:20px;
  font-size:13px;
  background:#000814;
  color:#9bb0ff;
}
.video-box, .details{
  max-width:900px;
  margin:50px auto;
  padding:20px;
  background:#000814;
  border:1px solid #0b1d3a;
}

.video-box h2, .details h2{
  margin-bottom:15px;
  color:#cfd9ff;
}

.details ul{
  list-style:none;
  padding:0;
}

.details li{
  margin:10px 0;
}
.big-blog{
  max-width:1000px;
  margin:80px auto;
  padding:40px;
  background:#000814;
  border:1px solid #0b1d3a;
  line-height:1.8;
}

.big-blog h2{
  font-size:32px;
  margin-bottom:20px;
  color:#cfd9ff;
}